body {
	margin: 20px;
	background: #14285a url(mbg.jpg) repeat-x left top;
	text-align: center;
}
body, td, input, textarea, select {
	font: 13px Verdana, arial, Helvetica, sans-serif;
	color: #333;
}
img {
	border: 0;
}
a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #036;
}
form {
	margin: 0;
}
textarea {
	width: 450px;
}
#body {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align: left;
}
#top {
	padding-top: 10px;
}
#logo {
	padding-bottom: 5px;
	font-size: 3em;
	font-weight: bold;
	color: #fff;
}
#logo a {
	color: #fff;
	text-decoration: none;
}
#menu {
	background: url(tbg.gif) repeat-y left top;
	padding: 5px;
	padding-right: 25px;
	text-align: right;
	color: #fff;
}
#menu a {
	color: #fff;
	text-decoration: none;
	padding: 3px;
}
#mn {
	font-weight: bold;
}
.button {
	border: 1px solid #14285a;
	padding: 2px;
	background: #14285a url(ibg.jpg) repeat-x left center;
	color: #fff;
}
#foot {
	color: #fff;
	padding: 27px;
	background: url(bbg.gif) no-repeat left top;
	font-size: 11px;
}
#foot a {
	color: #fff;
	text-decoration: none;
}
#main {
	background: #fff url(kbg.gif) repeat-y right top;
	padding: 10px;
	padding-right: 27px;
}
.lmenu {
	padding: 5px;
}
.lmenu ul, .clist, .lcontent ul, .kcontent ul, .scontent ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.lmenu ul li {
	background: #fff url(dot.gif) no-repeat left 13px;
	font-weight: bold;
	padding: 2px;
	padding-top: 10px;
	padding-left: 15px;
	clear: left;
}
.lmenu ol {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.lmenu ol li {
	font-size: 13px;
	padding: 1px;
	font-weight: normal;
	background: #fff;
	clear: left;
}
.ulist li {
	background: #fff url(ubg.jpg) repeat-x left top;
	border-top: 1px solid #008ec4;
}
.utitle {
	font-size: 1.2em;
	font-weight: bold;
}
.rcontent {
	width: 100%;
	float: right;
	margin-left: -160px;
}
.content {
	padding: 10px;
	padding-left: 15px;
	margin-left: 165px;
	border-left: 1px solid #eee;
}
.navdiv {
	padding: 5px;
	text-align: center;
}
.clist li {
	margin-bottom: 20px;
}
.title, .gtitle {
	border-top: 1px solid #14285a;
	background: #f1f9fc url(tibg.jpg) repeat-x left top;
	font-weight: bold;
	color: #036;
}
.title {
	padding: 3px;
	padding-left: 10px;
	font-size: 14px;
}
.gtitle {
	text-align: center;
	padding: 2px;
	font-size: 1.4em;
}
.title a {
	color: #036;
}
.tcontent {
	padding-left: 20px;
	padding-right: 20px;
}
.gcontent, .acontent, .lcontent, .kcontent, .scontent {
	background: #f1f9fc url(cor.gif) no-repeat right bottom;
}
.gcontent {
	padding: 3px;
	overflow: auto;
	width: 717px;
}
.acontent {
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #036;
}
.lcontent, .kcontent, .scontent {
	padding: 10px;
}
.lcontent ul li {
	margin: 0;
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
}
.kcontent li {
	clear: both;
}
.mcontent {
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	border: 1px solid #f1f9fc;
	color: #036;
}
.gdate, .gmod, .reply_i {
	font-weight: normal;
	font-size: 11px;
	color: #369;
}
.gmod {
	display: block;
	float: right;
	padding-right: 8px;
}
.mlink {
	border-bottom: 1px solid #369;
	color: #369;
}
.al_t, .del_al_t {
	margin: 3px;
	background: #fff;
}
.photo, .al_t {
	border: 2px solid #008ec4;
}
.del_al_t {
	border: 2px solid #f30;
}
.al_list {
	margin: 5px;
}
.message_n, .del_n {
	font-weight: bold;
	color: #f30;
}
.msg_v {
	margin: 20px;
	margin-top: 0;
	padding: 10px;
	border: 1px solid #036;
	font-weight: bold;
	color: #036;
}
.reply_d {
	margin-left: 5px;
	margin-top: 10px;
	border-top: 1px solid #f1f9fc;
}
.reply_v {
	border-bottom: 1px solid #f1f9fc;
	padding: 10px;
	background: #fff;
}
.reply_i {
	text-align: right;
}
.skin_sdiv {
	padding-left: 10px;
}
.skin_sdiv img {
	border: 1px solid #14285a;
	margin: 3px;
}
#skinlist li {
	float: left;
	width: 135px;
	height: 120px;
	text-align: center;
}
.skin_img {
	margin: 3px;
	border: 1px solid #14285a;
}
.l_list {
	border-top: 1px solid #14285a;
	background: #f1f9fc url(cor.gif) no-repeat right bottom;
	padding: 5px;
}
.photo {
	float: left;
	background: #fff;
}
.list_r {
	margin-left: 60px;
	padding: 2px;
}
.list_title {
	font-weight: bold;
	padding: 4px;
	padding-top: 0;
	padding-bottom: 10px;
	color: #036;
	font-size: 14px;
}
.list_title a{
	color: #036;
}
.list_c {
	padding: 7px;
}