body {
	margin: 0px;
	margin-top: 20px;
	background: #4b4b4b url(bbg.gif) repeat-y center top;
}
body, td, input, textarea, select {
	font: 13px Verdana, arial, Helvetica, sans-serif;
	color: #333;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #4d5583;
}
a:hover {
	text-decoration: underline;
}
form {
	margin: 0;
}
textarea {
	width: 450px;
}
#top {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	font-size: 3em;
	font-weight: bold;
	color: #a6a6a6;
	padding: 20px;
}
#logo a {
	color: #a6a6a6;
	text-decoration: none;
}
#menu {
	color: #2a2a2a;
	padding-left: 20px;
}
#menu a {
	border-top: 2px solid #545454;
	padding: 1px 10px 0 10px;
	text-decoration: none;
	color: #bcbcbc;
	background: #545454 url(tbg.gif) repeat-x left bottom;
}
#menu #mn, #menu a:hover {
	border-top: 2px solid #88b83a;
}
.button {
	background: #ceed9b;
	color: #222;
	border: 1px dotted #563f51;
	padding: 3px;
	font-weight: bold;
}
#foot {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-top: 20px;
	color: #bcbcbc;
}
#main {
	width: 760px;
	padding: 10px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}
.lmenu {
	padding: 5px;
}
.lmenu ul, .clist, .lcontent ul, .kcontent ul, .scontent ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.lmenu ul li {
	padding: 2px;
	padding-top: 11px;
	padding-left: 0;
	clear: left;
	color: #563f51;
	font-size: 1.5em;
	font-weight: bold;
}
.lmenu ol {
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	padding-left: 10px;
}
.lmenu ol li {
	font-size: 13px;
	padding: 1px;
	background: #fff;
	font-weight: normal;
	border: 0;
	clear: left;
}
.ulist li {
	background: #eee;
}
.utitle {
	font-size: 1.2em;
	font-weight: bold;
}
.rcontent {
	width: 100%;
	float: right;
	margin-left: -160px;
}
.content {
	padding: 10px;
	padding-left: 15px;
	margin-left: 165px;
}
.navdiv {
	padding: 5px;
	text-align: center;
}
.clist li {
	margin-bottom: 20px;
}
.title, .gtitle {
	font-weight: bold;
	color: #563f51;
	padding: 2px;
}
.title {
	background: url(cbg.gif) no-repeat left center;
	padding-left: 25px;
	font-size: 15px;
}
.gtitle {
	text-align: center;
	font-size: 1.4em;
}
.title a {
	color: #563f51;
}
.tcontent {
	padding-left: 20px;
	padding-right: 20px;
}
.gcontent, .acontent, .lcontent, .kcontent, .scontent {
	background: #fff;
}
.gcontent {
	padding: 5px;
	overflow: auto;
	width: 712px;
}
.acontent {
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #ccc;
}
.lcontent, .kcontent, .scontent {
	padding: 10px;
}
.lcontent ul li {
	margin: 0;
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
}
.kcontent li {
	clear: both;
}
.mcontent {
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	border: 1px dotted #666;
	background: #fff;
}
.gdate, .gmod, .reply_i {
	font-weight: normal;
	font-size: 11px;
	color: #563f51;
}
.gmod {
	display: block;
	float: right;
	padding-right: 8px;
}
.mlink {
	border-bottom: 1px solid #4d5583;
	color: #4d5583;
}
.al_t, .del_al_t {
	padding: 2px;
	margin: 2px;
	background: #fff;
}
.photo, .al_t {
	border: 1px solid #c2c2c2;
}
.del_al_t {
	border: 1px solid #333;
}
.al_list {
	margin: 3px;
}
.message_n, .del_n {
	font-weight: bold;
	color: #900;
}
.msg_v {
	margin: 20px;
	margin-top: 0;
	padding: 10px;
	border: 1px solid #666;
	font-weight: bold;
	color: #900;
	background: #fff;
}
.reply_d {
	margin-left: 5px;
	margin-top: 10px;
}
.reply_v {
	border-bottom: 2px solid #f0f5fb;
	padding: 10px;
	background: #fff;
}
.reply_i {
	text-align: right;
}
.skin_sdiv {
	padding-left: 10px;
}
.skin_sdiv img {
	border: 1px solid #c2c2c2;
	padding: 1px;
	margin: 3px;
}
#skinlist li {
	float: left;
	width: 135px;
	height: 120px;
	text-align: center;
}
.skin_img {
	margin: 3px;
	padding: 2px;
	border: 1px solid #c2c2c2;
}
.l_list {
	background: #f0f5fb;
	padding: 5px;
	border: 1px dotted #563f51;
}
.photo {
	float: left;
	padding: 1px;
	background: #fff;
}
.list_r {
	margin-left: 60px;
	padding: 2px;
}
.list_title {
	font-weight: bold;
	padding: 4px;
	padding-top: 0;
	padding-bottom: 10px;
	color: #563f51;
	font-size: 14px;
}
.list_title a{
	color: #563f51;
}
.list_c {
	padding: 6px;
}